### Importing Libraries

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

### Automating web page loading with Chrome

In [4]:
url ='https://www.linkedin.com/jobs/search/?currentJobId=3324500841&keywords=IT&refresh=true'

In [5]:
driver = webdriver.Chrome()
driver.get(url)

### Collecting Data

In [7]:
jobs = driver.find_elements(By.CLASS_NAME,'base-search-card__info')

job_list =[]
for job in jobs:
    
    job_title = job.find_element(By.CLASS_NAME, 'base-search-card__title').text 
    try:    
        company = job.find_element(By.CLASS_NAME, 'base-search-card__subtitle').text
    except NoSuchElementException as e:
        company =""
    try:
        location = job.find_element(By.CLASS_NAME, 'job-search-card__location').text 
    except NoSuchElementException as e:
        location = ""

    #print(job_title, company, location)
    
    job_item = {
        'job_title':job_title,
        'company': company,
        'location': location,
    }
    job_list.append(job_item)

### Saving Data

In [9]:
df = pd.DataFrame(job_list)

In [10]:
df.to_csv('LinkedIn_Jobs_scraped_data.csv', index=False, encoding='utf-8')

In [11]:
data = pd.read_csv('LinkedIn_Jobs_scraped_data.csv')
data.head(6)

,job_title,company,location
0,IT Administrator,"fairlife, LLC","Goodyear, Arizona, États-Unis"
1,IT Specialist,"Bowler Pons Solutions Consultants, LLC","Washington, District de Columbia, États-Unis"
2,IT Director,"Anveta, Inc","Indianapolis, Indiana, États-Unis"
3,Head of IT,The Smilist Management,"Great Neck, New York, États-Unis"
4,IT Manager,"Wayne Wire Cloth Products, Inc.","Kalkaska, Michigan, États-Unis"
5,IT Manager,Kitchen United,"Pasadena, Californie, États-Unis"